<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="CassInserted" value="Cassetes inserted Succsessfully" />
      <add key="Combinations" value="The combination - {0} is wrong for this ATM 
           Choose from the following banknotes " />
      <add key ="'s" value="{0}'s "/>
      <add key="NoMoney" value="Not Enough Money" />

      <add key="English" value="Cassetes inserted Succsessfully%The combination - {0} is wrong for this ATM 
           Choose from the following banknotes %{0}'s %Not Enough Money"/>
      
      <add key="Russian" value="Кассеты установлены успешно%Сумма - {0} неверная для этого банкомата 
           Пожалуйста, выберите из следующих банкнот %{0}-(рублевки) %Не достаточно денег в банкомате"/>

    </appSettings>

</configuration>